<div class="container mt-3 d-flex justify-content-end">
  <button mat-raised-button (click)="showCart()" color="primary">
    Go to Cart
    <span matBadge="{{ cartItemCount }}" matBadgeSize="medium" matBadgeColor="accent"></span>
  </button>
  <button mat-raised-button (click)="removeItem(1)" color="primary">
    Remove
  </button>
</div>
<div class="d-flex justify-content-center">
<div Style="width: 60%;" >
  <mat-accordion class="mat-accordion">
  <mat-expansion-panel *ngFor="let category of categories">
    <mat-expansion-panel-header class="mat-expansion-panel-header">
      <mat-panel-title>
        {{ category.categoryName }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <div class="mat-expansion-panel-content">
      <ng-container *ngIf="category.products && category.products.length > 0; else noProducts">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Add to Cart</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of category.products">
            <td>{{ item.id }}</td>
            <td>{{ item.productName }}</td>
            <td>{{ item.sellPrice | currency:'INR':'symbol':'1.2-2' }}</td>
            <td>
              <button mat-raised-button color="primary" (click)="addtocart(item)">
                <i class="bi bi-cart-plus"></i> Add
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
    </div>
    
    <ng-template #noProducts>
      <div class="col-12 text-center mt-3">
        <p>No Products available.</p>
      </div>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
</div>
</div>